<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      
        <div>
            <h1 class=about_heading>EXPLORE</h1>
            <p class=about_text>...a randomly generated Edo period Japan with each play.</p>
            <p class=about_text>Defeat the seven dojo masters and confront the emperor!</p>
            <img class=about_image src="/img/region_map.jpg"/>
        </div>
        
        <div>
            <h1 class=about_heading>DECIDE</h1>
            <p class=about_text>...your way of the samurai in hundreds of decisions.</p>
            <p class=about_text>Your personality will be judged on your actions.</p>
            <p class=about_text>Are you sincere, courageous, and brazen, or cunning, prudent, and gracious?</p>
            <img class=about_image src="/img/odd_character_bandit.jpg"/>
            <img class=about_image src="/img/odd_character_sushi_merchant.jpg"/>
        </div>
        
        <div>
            <h1 class=about_heading>FIGHT</h1>
            <p class=about_text>...opponents using a realistic turn-based katana combat system.</p>
            <p class=about_text>Change stances and employ strikes, parries, dodges, and sushi to outwit your opponent!</p>
            <p class=about_text>Brutal realism allows for <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/MutualKill">mutual kills!</a></p>
            <img class=about_image src="/img/combat.jpg"/>
            <img class=about_image src="/img/stances.jpg"/>
        </div>
        
        <div>
            <h1 class=about_heading>COMPOSE</h1>
            <p class=about_text>...haiku using the Poem Visualization Engine.</p>
            <p class=about_text>Choose your words carefully. They may appear in future plays!</p>
            <img class=about_image src="/img/poem.jpg"/>
        </div>
        
        <div>
            <h1 class=about_heading>DIE</h1>
            <p class=about_text>...to a superior foe or by your own hand, but do not be forgotten!</p>
            <p class=about_text>Each character will progress your Ancestor Favor, making future runs easier!</p>
            <p class=about_text>Tons of unique characters to unlock is icing on the cake.</p>
            <img class=about_image src="/img/death_screen.jpg"/>
            <img class=about_image src="/img/character_creation.jpg"/>
        </div>
        
        <div>
            <h1 class=about_heading>COMING SOON...</h1>
        </div>
        
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
