<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <br>
        
        <ul class="list-inline">
          <li>
            <a href="https://{{ site.tumblr_username }}.tumblr.com"><img src="/img/tumblr_icon.png"></a>
          </li>
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}"><img src="/img/facebook_icon.png"></a>
          </li>
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}"><img src="/img/twitter_icon.png"></a>
          </li>
          <li>
            <a href="mailto:{{ site.email }}"><img src="/img/email_icon.png"></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
